.blackhole-container {
    justify-content: center;
    display: flex;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.blackhole-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 8vh;
    text-align: center;
    user-select: none;
    background-color: rgb(107, 107, 107);
    padding: 0.2em 0.4em;
    border-radius: 4em;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.blackhole-title:hover {
    transform: translate(-50%, -50%) scale(1.1);
    background-color: rgb(87, 87, 87);
}

.blackhole {
    position: relative;
    height: 100vh;
    width: 100vh;
    user-select: none;
    animation: infinite-spin 20s linear infinite;
    z-index: 1;
    overflow: hidden;
    filter: brightness(40%);
}

@keyframes infinite-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}