.categories-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-title {
    box-sizing: border-box;
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    justify-self: center;
    border-radius: 30px;
    color: white;
    padding: 20px 40px;
    margin: 40px;
}

#categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.category {
    display: flex;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    max-width: 16vw;
    max-height: 30vh;
    min-height: 30vh;
    padding: 40px 10px;
    border-radius: 45%;
    align-items: center;
}

.category:hover {
    background-color: rgb(240, 240, 240);
}

.category:hover .category-description{
    visibility: visible;
    max-height: 100%;
    color: black;
    transition: max-height 0.5s ease-in-out;
    transition: color 0.5s ease;
}

.category:hover .category-img {
    transition: 0.5s ease;
    transform: scale(60%);
}

.category-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}

.category-description {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    visibility: hidden;
    text-wrap: 1;
    max-width: 80%;
    font-size: small;
    text-align: center;
    text-justify: distribute-all-lines;
    margin: 0;
    max-height: 0;
    color: rgba(0, 0, 0, 0);
}

.category-img {
    flex-shrink: 1;
    max-width: 8vw;
}