.categories-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.categories-title {
    box-sizing: border-box;
    font-size: 300%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    color: white;
    padding: 20px 40px;
}

#categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-galaxy {
    position: relative;
    margin: 25px 30px 25px 30px;
}

.category-galaxy-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: auto;
    top: 0;
    left: 0;
    z-index: -1;
}

.category {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    background: radial-gradient(circle at center,
      #fff9d6 0%,        
        #fff1a8 28%,     
        #ffd54d 55%,      
        #ffb300 80%,       
        #e69100 100%       

    );
    width: 300px;
    height: 300px;
    padding: 20px 32px;
    border-radius: 45%;
    border: 6px solid rgb(0, 0, 0);
    align-items: center;
}

.category:hover {
    background-color: rgb(240, 240, 240);
}

.category:hover+.category-galaxy-img {
    animation: spin 25s linear infinite;
}

.category:hover .category-description {
    visibility: visible;
    max-height: 100%;
    color: black;
    transition: max-height 0.5s ease-in-out;
    transition: color 0.5s ease;
}

.category:hover .category-img {
    transition: 0.5s ease;
    transform: scale(60%);
}

.category-name {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 4%;
    font-size: 120%;
    text-align: center;
    height: 20%;
    width: 80%;
    padding: 4%;
}

.category-description {
    font-family: 'Montserrat', sans-serif;
    visibility: hidden;
    text-wrap: 1;
    width: 85%;
    text-align: center;
    font-size: 100%;
    text-justify: distribute-all-lines;
    margin: 0;
    max-height: 0;
    color: rgba(0, 0, 0, 0);
}

.category-img {
    width: 60%;
    height: 60%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(108%);
    }

    100% {
        transform: rotate(360deg) scale(108%);
    }
}