.dashboard-page-container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 80px);
    box-sizing: border-box;
}

.joined-clubs-title {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.explore-clubs-button {
    background-color: rgb(212, 212, 212);
    border-radius: 40px;
}

.user-name-container {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}