.signin-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signin-fields-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.signin-form * {
    flex-basis: 50px;
}

.signin-button {
    margin-top: 10px;
    display: flex;
    border-radius: 40px;
    border: none;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-width: 40%;
}

.label {
    position: absolute;
    left: 0;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: bold;
    transition: 0.1s ease;
}

input:focus {
    box-shadow: none;
}
input:valid + label,
input:focus + label {
    color: rgb(75, 75, 75);
    transform: translate(-5px, -12px) scale(0.8);
}

input {
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 10px;
    transition: 0.1s ease;
}

.name-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.fname-container {
    position: relative;
    display: flex;
}

.lname-container {
    position: relative;
    display: flex;
}

.email-container {
    display: flex;
    position: relative;
}

.email-container>input {
    display: flex;
}