.main {
    display: flex;
    height: 100vh;
    background-color: rgb(130, 73, 168);
    user-select: none;
    flex-direction: row;
    justify-content: center;
}

.blackhole-container {
    display: flex;
    align-items: center;
}

.blackhole {
    position: relative;
    height: 70vh;
    width: 70vh;
    user-select: none;
    animation: infinite-spin 30s linear infinite;
    z-index: 1;
}

@keyframes infinite-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.blackhole-title {
    position: absolute;
    z-index: 2;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5em;
    text-align: center;
    user-select: none;
    background-color: rgba(56, 53, 53, 0.507);
    padding: 0.2em 0.4em;
    border-radius: 4em;
}

.signin-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signin-fields-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.signin-form * {
    flex-basis: 30px;
}

.signin-button {
    margin-top: 10px;
    display: flex;
    border-radius: 40px;
    border: none;
    align-items: center;
    justify-content: center;
    min-width: 40%;
}

.label {
    position: absolute;
    left: 0;
    padding-top: 6px;
    padding-left: 8px;
}

input:focus {
    outline: none;
    box-shadow: none;
}

input {
    border: none;
    border-radius: 20px;
}

.name-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.fname-container {
    position: relative;
    display: flex;
}

.lname-container {
    position: relative;
    display: flex;
}

.email-container {
    position: relative;
    display: flex;
    min-width: 100%;
}

.email-container>input {
    display: flex;
    min-width: 100%;
}